{% extends "base.html" %}
{% block content %}
<div class="container bg_body_lecture">
    <div class="alert alert-info">
      <h1>{{ article.title }}</h1>
    </div>
    <div class="row-fluid">
		<table class="table">
		 	<thead>
		 		<tr class="warning">
		 			<th><h3>Capa:</h3></th>
		 			<th><h3>Informações:</h3></th>
		 		</tr>

		 	</thead>
			<tbody>
				<tr>
          <td>
						<img  alt="300x200" src="{{ article.image if article.image else 'http://placehold.it/300x200' }}" style="width: 300px;" data-pixelate data-value="0.4">
					</td>
					<td>
            <ul class="info-ul-list">
              <li><p><span class="label label-info info-label">Jogo</span>: {{ article.title }}</p></li>
              <li><p><span class="label label-info info-label">Sistema</span>: {{ article.system }}</p></li>
              <li><p><span class="label label-info info-label">Jogadores</span>: {{ article.players }}</p></li>
              <li><p><span class="label label-info info-label">Produtora</span>: {{ article.developers }}</p></li>
              <li><p><span class="label label-info info-label">Lançamento</span>: {{ article.launch }}</p></li>
            </ul>
					</td>
				</tr>
			</tbody>
		</table>

    </div>

{{ article.content }}
</div> <!-- /container -->
<a href="images/tenchi-muyo/gifdotenchi2.gif" data-lightbox="image" id="lighbox_all" data-title="My caption"></a>
{% endblock content %}
