{% extends "base.html" %}
{% block content %}
<div class="container bg_body">
  <!-- Row of columns -->
  <div class="row-fluid">
    {% for article in articles_page.object_list %}
    <div class="span4 post_container">
      <div class="thumbnail">
        <img  alt="300x200" src="{{ SITEURL }}/theme/img/monster.jpg" style="width: 300px; height: 200px;">
        <div class="caption body_post" >
          <h2>{{ article.title }}</h2>
          <div class="summary_post">
            <p> {{ article.summary | truncate(100) }}</p> 
          </div>         
          <p><a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-primary">Leia mais...</a></p>
        </div>
      </div>
    </div>
    {% if loop.index % 3 == 0 %}
    </div>
    <hr>
    <div class="row-fluid">
    {% endif %}
    {% endfor %}
  </div>

  <hr>

</div> <!-- /container -->
{% endblock content %}