{% extends "base.html" %}
{% block content %}
<div class="container bg_body">
  <!-- Row of columns -->
  <div class="row-fluid">
    {% for article in articles_page.object_list %}
    <div class="span4 post_container">
      <a href="{{ article.url }}">
        <div class="thumbnail">

          <img  alt="300x200" src="{{ article.image if article.image else 'http://placehold.it/300x200' }}" style="width: 300px; height: 200px;" data-pixelate data-value="0.4" />
          <div class="caption body_post row-fluid" >
            <div class="alert alert-success post-cover-title">
                <div class="span10">
                  <p>{{ article.title }}</p>
                </div>

                <div class="span2">
                  <span class="retro icon-{{ article.ini }} retro-min"></span>
                </div>



            </div>
            <div class="summary_post">
              <p> {{ article.summary | truncate(100) }}</p>
            </div>
            <p><a href="{{ article.url }}" class="btn btn-info">Leia mais...</a></p>
          </div>

        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  <hr>
<div class="pagination pagination-centered">
  <ul>

    {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
     <li class="pagination-mini {{ 'disabled' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
    {% endfor %}
  </ul>
</div>

</div> <!-- /container -->
{% endblock content %}
