{% extends "base.html" %}
{% block content %}
<div class="container bg_body">
  <!-- Row of columns -->
  <div class="row-fluid">
    {% for article in articles_page.object_list %}
    <div class="span4 post_container">
      <div class="thumbnail">
        <img  alt="300x200" src="{{ article.image }}" style="width: 300px; height: 200px;">
        <div class="caption body_post" >
          <h2>{{ article.title }}</h2>
          <div class="summary_post">
            <p> {{ article.summary | truncate(100) }}</p>
          </div>
          <p><a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-primary">Leia mais...</a></p>
        </div>
      </div>
    </div>
    {% if loop.index % 3 == 0 %}
    </div>
    <hr>
    <div class="row-fluid">
    {% endif %}
    {% endfor %}
  </div>

  <hr>

<div class="pagination">
  <ul>    
    
    {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
     <li class="pagination-mini {{ 'disabled' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
    {% endfor %}
  </ul>
</div>  

</div> <!-- /container -->
{% endblock content %}