body {


}

@font-face {
    font-family: teste_retro;
    src: url(fonts/Sevastopol-Interface-7.ttf);
}


/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


.retro_logo{
  background-image: url("../img/retrologo.png");
  width: 100%;
  height: auto;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

.bg_body{
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
  color: #fff;
}
.info-label{
  width: 100px;
}
.info-ul-list > span{
  text-align: center;
}
.warning  h3 {
  text-transform: uppercase;
}

/* Improve post read */
.bg_body_lecture{
  background-color: rgba(0,0,0,0.2);
  text-shadow: 1px 1px 2px #000000;
  font-size: 18px;
  padding: 10px;
  color: #fff;
}

.bg_body_lecture > h3 {
  text-transform: uppercase;
  border-bottom: 1px groove #fff;
  margin: 30px 0 15px 0;
}


.post_box{
  float: left;
}

/* BODY POST */
.body_post{
  position: relative;
  height: 240px;
}

.body_post h2{
  height: 40px ;
}

.body_post p, h2{
  text-shadow: 1px 1px 2px #000000;
}

.body_post a{
  text-shadow:none;
}

.summary_post{
  height: 100px;
}

.summary_post span, p{
  color: #fff;
}

.body_post .btn{
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
